body{
margin : 0;
padding : 0;
}

.sign-up-form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(red, green, blue, alpha);
    background: #fff;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
    


}