<!DOCTYPE html>
<html>
<head>
	
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
   <section>
        <div class="box">

            <div class="form">
                <img src="static/images/profile.jpg" class="user" alt="">
                <h2>Login to your Account</h2>
                <form class="" action="index.html" method="post" enctype="multipart/form-data">
            
                    <div class="inputBx">
                        <input type="text" name="username" placeholder="Username" id="username" oninput="validation()" required autofocus>
                    </div>
                    <div class="inputBx">
                        <input type="password" name="passward" id="password" placeholder="Password" oninput="validation()" required>
                    </div>
                    <label class="remeber"><input type="checkbox"> Remember Me</label>
                    <form action="/action_page.php">
                    <div class="aors">   
                        <input type="radio" id="Student" name="fav_language" value="Student">
                        <label for="html">Student</label>
                        <input type="radio" id="Admin" name="fav_language" value="Admin">
                        <label for="css">Admin</label><br><br>
                    </div>
                    <div class="inputBx" > 
                        <input  type="submit" name="submit" value="Login" id="submit" disabled>
                    </div>
                </form>
                <div><span style="float: left;"><a href="#">Forgot Password </a></span>
                <span style="float:right;"><a href="#">New user?Sign-in</a></span></div>

            </div>

        </div>
    </section>
    <script type="text/javascript">
    	function validation() {
		    let username = document.getElementById("username").value;
		    let pass = document.getElementById("password").value;
		    if (username != "" && pass != "") {
		        document.getElementById("submit").disabled = false;
		    } else {
		        document.getElementById("submit").disabled = true;
		    }
		}
    </script>
   </body>
</html>